*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* header-section-start */

.header-section{
    width: 100%;
    background-color: #ffffff;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto; 
        padding: 20px 40px;
}

            /* navbar-section  */

/* logo  */
    .logo-area{
        display: flex;
        align-items: center;
    }
        .brand-logo{
            height: 45px;
            width: auto;
            display: block;
        }
/* nav-menu  */
    .nav-menu{
        display: flex;
        gap: 30px;
    }    
        .nav-item{
            text-decoration: none;
            color:#64748b;
            font-size: 16px;
            font-weight: 500;
        }
            .nav-item:hover{
                color: #2563eb;
            }   
/* right-button     */
    .btn-register{
        background-color: #2563eb;
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        padding: 12px 28px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
        .btn-register:hover{
            background-color: #1d4ed8;
        }

/* header-section-completed */

/* banner-section-start */

.banner-section{
    width: 100%;
    min-width: 60vh;
    background-image: linear-gradient( to bottom, rgba(0,0,0,.6), rgba(0,0,0,.7)), url('./images/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 20px;
}
.banner-container{
    width: 100%;
    max-width: 800px;
}
    .banner-container .banner-title{
        font-size: 56px;
        font-weight: 800;
        color: #ffffff;
        margin-bottom: 24px;
    }
        .banner-container .banner-title .italic-text{
            font-style: italic;
            font-weight: 800;
        }
    .banner-container .banner-description{
        font-size: 18px;
        color: #cbd5e1;
        line-height: 1.5;
        font-weight: 400;
        margin-bottom: 40px;   
    }
    .banner-container .btn-banner-register{
        background-color: #2563eb;
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        padding: 14px 36px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 80px;
    } 
        .banner-container .btn-banner-register:hover{
            background-color: #1d4ed8;
        } 
/* banner-section-completed */